.three-splitter {
  display: flex;
  height: 100vh;
  width: auto;
}

.main-bottom-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
}

.bottom {
  height: clamp(200px, 30%, 300px);
}

.right {
  width: clamp(360px, 40%, 500px);
}