.select {
  max-height: 360px;
  overflow-y: auto;
}

.select:focus {
  box-shadow: none;
}

.attribute-selectors{
  display: flex;
}

.attribute-selectors > * {
  flex: 1;
}

.attribute-selectors > * + * {
  margin-left: 4px;
}

/* .multi-select {
  position: absolute;
} */