.action-wrapper {
  padding: 8px;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: var(--shadow-elevation-low);
  background: #fff;
}

.action-wrapper > * + * {
  margin-top: 8px;
}

.logo-container {
  height: 28px !important;
  width: 28px;
  margin-left: 4px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 28px;
  color: rgb(244 63 94);
  /* animation: rotation 20s infinite linear; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.main-graph, .bottom-graph {
  height: 100%;
}

.scroll-graph {
  height: 100%;
  width: 100%;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap-container {
  position: relative;
  display: flex;
  overflow: unset !important;
  z-index: 1;
}

.swap-container > .card {
  flex: 1;
}

.swap-button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  border: 1px solid #65647C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: var(--shadow-elevation-medium);
  background: #fff;
}

.card > div {
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  height: 32px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background: rgb(253 242 248);
  border-radius: 4px;
  font-weight: 600;
  color: rgb(100 116 139);
}

.sub-title {
  display: flex;
  height: 12px;
  align-items: center;
  font-size: 12px;
  color: #5F6F94;
}

.alert{
  margin-bottom: 0px;
  font-size: 12px;
  padding-block: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

td, th {
  border: 0px !important;
  border-bottom: 1px solid rgb(212 212 216) !important;
}

td {
  text-align: center !important;
}

td + td {
  border-left: 1px solid rgb(212 212 216) !important;
  text-align: center !important;
}

th span {
  text-align: center;
}

.table-container {
  max-height: 220px;
  padding: 8px 8px;
}

.table-container > * {
  overflow: auto;
}

.table-container th:first-child {
  border-radius: 8px 0px 0px 0px;
  background: rgb(224 231 255) !important;
}

.table-container th:last-child {
  border-radius: 0px 8px 0px 0px;
  background: rgb(233 213 255) !important;
}

.app-title {
  font-family: var(--code-font);
  font-weight: 600;
  font-size: 24px;
}

.success-button {
  background-color: rgb(251 207 232);
  border: 1px solid rgb(251 207 232);
  color: rgb(190 24 93);
}

.success-button:is(:focus, :active, :hover) {
  background-color: rgb(190 24 93);
  border: 1px solid rgb(190 24 93);
  color: rgb(251 207 232);
  outline: none;
  box-shadow: none;
}