.action-wrapper {
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
  background: white;
}

.action-wrapper > * + * {
  margin-top: 8px;
}

.main-graph, .bottom-graph {
  height: 100%;
}

.scroll-graph {
  height: 100%;
  width: 100%;
}