.three-splitter {
  display: flex;
  height: 100vh;
  width: auto;
  background: #EFF5F5;
  padding: 8px;
}

.three-splitter .left-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 8px;
}

.three-splitter .left-wrapper .main {
  flex: 1;
  display: flex;
  margin-bottom: 8px;
}

.three-splitter .left-wrapper .main > * {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
}

.three-splitter .left-wrapper .main > * + * {
  margin-left: 8px;
}

.three-splitter .left-wrapper .bottom {
  height: clamp(200px, 30%, 300px);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
}

.three-splitter .right-wrapper {
  width: clamp(360px, 40%, 500px);
  display: flex;
  flex-direction: column;
}

.three-splitter .right-wrapper .right > * + * {
  margin-top: 8px;
}

.three-splitter .right-wrapper > *:first-child {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.three-splitter .right-wrapper > * + * {
  margin-top: 8px;
}