.app-bar{
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  box-shadow: var(--shadow-elevation-low);
}

.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.three-splitter {
  flex: 1;
  display: flex;
  height: 100%;
  width: auto;
  background: #EFF5F5;
  padding: 8px;
}

.three-splitter .left-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 8px;
}

.three-splitter .left-wrapper .main {
  flex: 1;
  display: flex;
  margin-bottom: 8px;
}

.three-splitter .left-wrapper .main > * {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
}

.sub-main{
  width: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 0px !important;
  background-color: transparent !important;
  overflow: unset !important;
  box-shadow: none !important;
  flex: unset !important;
}

.sub-main > * {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
  background-color: #fff;
}

.sub-main > * + * {
  margin-top: 8px;
}

.three-splitter .left-wrapper .main > * + * {
  margin-left: 8px;
}

.three-splitter .left-wrapper .bottom {
  height: clamp(200px, 30%, 300px);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
}

.three-splitter .right-wrapper {
  width: clamp(360px, 40%, 500px);
  display: flex;
  flex-direction: column;
}

.three-splitter .right-wrapper .right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.three-splitter .right-wrapper .right > * + * {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.three-splitter .right-wrapper > * + * {
  margin-top: 8px;
}

.filter-panel {
  flex: 1;
}

.title {
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  background: #8BBCCC;
  border-radius: 8px;
  font-weight: 600;
}

.sub-title {
  display: flex;
  height: 12px;
  align-items: center;
  font-size: 12px;
  color: #5F6F94;
}

.alert{
  margin-bottom: 0px;
  font-size: 12px;
  padding-block: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  padding: 8px;
}