.nav-container {
  min-height: 42px;
  display: flex;
}

.nav-container .nav-item {
  flex: 1;
  background-color: #393E46;
}

.nav-container .nav-item a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.nav-container .nav-item a:hover {
  background-color: #6D9886;
}